<.header>
  Listing Subjects
  <:actions>
    <.link patch={~p"/subjects/new"}>
      <.button>New Subject</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="subjects"
  rows={@streams.subjects}
  row_click={fn {_id, subject} -> JS.navigate(~p"/subjects/#{subject}") end}
>
  <:col :let={{_id, subject}} label="Id">{subject.id}</:col>
  <:col :let={{_id, subject}} label="Title">{subject.title}</:col>
  <:col :let={{_id, subject}} label="Short title">{subject.short_title}</:col>
  <:action :let={{_id, subject}}>
    <div class="sr-only">
      <.link navigate={~p"/subjects/#{subject}"}>Show</.link>
    </div>
    <.link patch={~p"/subjects/#{subject}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, subject}}>
    <.link
      phx-click={JS.push("delete", value: %{id: subject.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="subject-modal"
  show
  on_cancel={JS.patch(~p"/subjects")}
>
  <.live_component
    module={EcampusWeb.SubjectLive.FormComponent}
    id={@subject.id || :new}
    title={@page_title}
    action={@live_action}
    subject={@subject}
    patch={~p"/subjects"}
  />
</.modal>
