<.header>
  {dgettext("lesson_topics", "Listing Lesson Topics")}
  <:actions>
    <.link patch={~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson_id}/topics/new"}>
      <.button>{dgettext("lesson_topics", "New")}</.button>
    </.link>
  </:actions>
</.header>

<.flop_table
  id="lesson_topics"
  items={@streams.lesson_topics}
  meta={@meta}
  path={~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson_id}/topics"}
  row_click={
    fn {_id, lesson_topic} ->
      JS.navigate(
        ~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson_id}/topics/#{lesson_topic}?return_to=#{@current_path}"
      )
    end
  }
>
  <:col :let={{_id, lesson_topic}} label={dgettext("lesson_topic", "Id")} field={:id}>
    {lesson_topic.id}
  </:col>
  <:col :let={{_id, lesson_topic}} label={dgettext("lesson_topic", "Title")} field={:title}>
    {lesson_topic.title}
  </:col>
  <:col
    :let={{_id, lesson_topic}}
    label={dgettext("lesson_topic", "Sort order")}
    field={:sort_order}
  >
    {lesson_topic.sort_order}
  </:col>
  <:action :let={{_id, lesson_topic}}>
    <.link patch={
      ~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson_id}/topics/#{lesson_topic}/edit"
    }>
      {dgettext("lesson_topics", "Edit")}
    </.link>
  </:action>
</.flop_table>
