<.header>
  {dgettext("specialities", "Listing Specialities")}
  <:actions>
    <.link patch={~p"/admin/specialities/new"}>
      <.button>{dgettext("specialities", "New")}</.button>
    </.link>
  </:actions>
</.header>

<.flop_table
  id="specialities"
  items={@streams.specialities}
  meta={@meta}
  path={~p"/admin/specialities"}
  row_click={
    fn {_id, speciality} ->
      JS.navigate(~p"/admin/specialities/#{speciality}?return_to=#{@current_path}")
    end
  }
>
  <:col :let={{_, speciality}} label={dgettext("specialities", "Id")} field={:id}>
    {speciality.id}
  </:col>

  <:col :let={{_id, speciality}} label={dgettext("specialities", "Code")} field={:code}>
    {speciality.code}
  </:col>
  <:col :let={{_id, speciality}} label={dgettext("specialities", "Title")} field={:title}>
    {speciality.title}
  </:col>

  <:action :let={{_id, speciality}}>
    <.link patch={~p"/admin/specialities/#{speciality}/edit"}>
      {dgettext("specialities", "Edit")}
    </.link>
  </:action>
</.flop_table>

<.flop_pagination meta={@meta} path={~p"/admin/specialities"} />

<.modal
  :if={@live_action in [:new, :edit]}
  id="speciality-modal"
  show
  on_cancel={JS.patch(@current_path)}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.SpecialityLive.FormComponent}
    id={@speciality.id || :new}
    action={@live_action}
    speciality={@speciality}
    patch={@current_path}
  />
</.modal>
