<.header>
  {dgettext("specialities", "Speciality")} {@speciality.id}
  <:actions>
    <.link patch={~p"/admin/specialities/#{@speciality}/show/edit"} phx-click={JS.push_focus()}>
      <.button>{dgettext("specialities", "Edit")}</.button>
    </.link>
    <.link patch={~p"/admin/specialities/#{@speciality}/groups"} phx-click={JS.push_focus()}>
      <.button>{dgettext("specialities", "Groups")}</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title={dgettext("specialities", "Code")}>{@speciality.code}</:item>
  <:item title={dgettext("specialities", "Description")}>{@speciality.description}</:item>
  <:item title={dgettext("specialities", "Title")}>{@speciality.title}</:item>
</.list>

<.back navigate={~p"/admin/specialities"}>
  {dgettext("specialities", "Back to specialities")}
</.back>

<.modal
  :if={@live_action == :edit}
  id="speciality-modal"
  show
  on_cancel={JS.patch(~p"/admin/specialities/#{@speciality}")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.SpecialityLive.FormComponent}
    id={@speciality.id}
    action={@live_action}
    speciality={@speciality}
    patch={~p"/admin/specialities/#{@speciality}"}
  />
</.modal>
