<.header>
  Speciality {@speciality.id}
  <:subtitle>This is a speciality record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/admin/specialities/#{@speciality}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit speciality</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Code">{@speciality.code}</:item>
  <:item title="Description">{@speciality.description}</:item>
  <:item title="Title">{@speciality.title}</:item>
</.list>

<.back navigate={~p"/admin/specialities"}>Back to specialities</.back>

<.modal
  :if={@live_action == :edit}
  id="speciality-modal"
  show
  on_cancel={JS.patch(~p"/admin/specialities/#{@speciality}")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.SpecialityLive.FormComponent}
    id={@speciality.id}
    action={@live_action}
    speciality={@speciality}
    patch={~p"/admin/specialities/#{@speciality}"}
  />
</.modal>
