<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 auto-rows-fr">
  <div class="card bg-base-100 shadow">
    <div class="card-body flex flex-col justify-between">
      <h2 class="card-title">{gettext("Hello")}, {@current_user.email}!</h2>
      <div class="card-actions justify-end">
        <.link href={~p"/users/settings"}>
          <button class="btn btn-ghost">{gettext("Settings")}</button>
        </.link>
        <.link href={~p"/users/log_out"} method="delete">
          <button class="btn btn-ghost">{gettext("Log out")}</button>
        </.link>
      </div>
    </div>
  </div>
  <%= if @incoming == nil do %>
    <div class="card bg-base-100 shadow">
      <div class="card-body">
        <div class="flex flex-col items-center justify-center gap-2 h-full">
          <span class="hero-face-frown w-16 h-16" />
          <.header>
            {gettext("No incoming classes")}
          </.header>
        </div>
      </div>
    </div>
  <% else %>
    <.link patch={~p"/dashboard/classes/#{@incoming.id}"}>
      <div class="card image-full shadow hover:shadow-md active:shadow-sm hover:cursor-pointer transition-all">
        <figure>
          <img src="images/bg.jpg" alt="subject picture" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            {@incoming.lesson.subject.title}
          </h2>
          <div class="badge badge-outline">{gettext("Next class")}</div>
          <p class="flex items-center gap-2">
            <span class="hero-map-pin" />{@incoming.classroom}
          </p>
          <p class="flex items-center gap-2">
            <span class="hero-calendar" />
            {Calendar.strftime(
              @incoming.begin_date,
              "%d.%m.%Y"
            )}
          </p>
          <p class="flex items-center gap-2">
            <span class="hero-clock" />
            {Calendar.strftime(
              @incoming.begin_date,
              "%H:%M"
            ) <>
              " - " <>
              Calendar.strftime(
                @incoming.end_date,
                "%H:%M"
              )}
          </p>
        </div>
      </div>
    </.link>
  <% end %>

  <div class="col-span-2">
    <div class="stats grid-cols-3 shadow w-full h-full">
      <div class="stat block">
        <div class="stat-title h-1/3">{gettext("Lesson passed")}</div>
        <div class="stat-value text-5xl text-primary h-1/3">{@stats.completed_lessons}</div>
        <div class="stat-desc text-wrap h-1/3">
          {gettext("Calculated based on the lesson end date")}
        </div>
      </div>

      <div class="stat block">
        <div class="stat-title h-1/3">{gettext("Total lessons")}</div>
        <div class="stat-value text-5xl text-secondary h-1/3">{@stats.total_lessons}</div>
        <div class="stat-desc text-wrap h-1/3">
          {gettext("Total lessons regardless of subjects")}
        </div>
      </div>

      <div class="stat block">
        <div class="stat-title h-1/3">{gettext("Progress")}</div>
        <div class="stat-value text-5xl text-primary h-1/3">{@stats.percentage}%</div>
        <div class="stat-desc text-wrap h-1/3">{gettext("Percentage of all lessons")}</div>
      </div>
    </div>
  </div>
</div>
