<.header>
  Listing Questions
  <:actions>
    <.link patch={~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions/new"}>
      <.button>New Question</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="questions"
  rows={@questions}
  row_click={
    fn {_id, question} ->
      JS.navigate(~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions/#{question}")
    end
  }
>
  <:col :let={{_id, question}} label="Type">{question.type}</:col>
  <:col :let={{_id, question}} label="Title">{question.title}</:col>
  <:col :let={{_id, question}} label="Subtitle">{question.subtitle}</:col>
  <:col :let={{_id, question}} label="Grade">{question.grade}</:col>
  <:col :let={{_id, question}} label="Sort order">{question.sort_order}</:col>
  <:col :let={{_id, question}} label="Show correct answer">{question.show_correct_answer}</:col>
  <:action :let={{_id, question}}>
    <div class="sr-only">
      <.link navigate={~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions/#{question}"}>
        Show
      </.link>
    </div>
    <.link patch={~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions/#{question}/edit"}>
      Edit
    </.link>
  </:action>
  <:action :let={{id, question}}>
    <.link
      phx-click={JS.push("delete", value: %{id: question.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<div class="flex justify-center items-center my-4">
  <div class="join">
    <%= if @current_page > 1 do %>
      <.link
        patch={
          ~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions?page=1&page_size=#{@pagination.page_size}"
        }
        class="join-item btn"
      >
        {"<<"}
      </.link>
      <.link
        patch={
          ~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions?page=#{@current_page - 1}&page_size=#{@pagination.page_size}"
        }
        class="join-item btn"
      >
        {"<"}
      </.link>
    <% end %>
    <%= for page <- pagination_pages(@pagination.pages, @current_page) do %>
      <%= if page == :ellipsis do %>
        <span class="join-item btn btn-disabled">...</span>
      <% else %>
        <.link
          patch={
            ~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions?page=#{page}&page_size=#{@pagination.page_size}"
          }
          class={if @current_page == page, do: "join-item btn btn-active", else: "join-item btn"}
        >
          {page}
        </.link>
      <% end %>
    <% end %>
    <%= if @current_page < @pagination.pages do %>
      <.link
        patch={
          ~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions?page=#{@current_page + 1}&page_size=#{@pagination.page_size}"
        }
        class="join-item btn"
      >
        {">"}
      </.link>
      <.link
        patch={
          ~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions?page=#{@pagination.pages}&page_size=#{@pagination.page_size}"
        }
        class="join-item btn"
      >
        {">>"}
      </.link>
    <% end %>
  </div>
</div>

<.modal
  :if={@live_action in [:new, :edit]}
  id="question-modal"
  show
  on_cancel={JS.patch(~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.QuestionLive.FormComponent}
    id={@question.id || :new}
    action={@live_action}
    question={@question}
    quiz_id={@quiz_id}
    patch={~p"/admin/lessons/#{@lesson_id}/quizzes/#{@quiz_id}/questions"}
  />
</.modal>
