<.header>
  {dgettext("subjects", "Listing Subjects")}
  <:actions>
    <.link patch={~p"/admin/subjects/new"}>
      <.button>{dgettext("subjects", "New")}</.button>
    </.link>
  </:actions>
</.header>

<.flop_table
  id="subjects"
  items={@streams.subjects}
  meta={@meta}
  path={~p"/admin/subjects"}
  row_click={fn {_id, subject} -> JS.navigate(~p"/admin/subjects/#{subject}") end}
>
  <:col :let={{_id, subject}} label={dgettext("subjects", "Id")} field={:id}>{subject.id}</:col>
  <:col :let={{_id, subject}} label={dgettext("subjects", "Title")} field={:title}>
    {subject.title}
  </:col>
  <:col :let={{_id, subject}} label={dgettext("subjects", "Short title")} field={:short_title}>
    {subject.short_title}
  </:col>
  <:action :let={{_id, subject}}>
    <.link patch={~p"/admin/subjects/#{subject}/edit"}>
      {dgettext("subjects", "Edit")}
    </.link>
  </:action>
</.flop_table>

<.flop_pagination meta={@meta} path={~p"/admin/subjects"} />

<.modal
  :if={@live_action in [:new, :edit]}
  id="subject-modal"
  show
  on_cancel={JS.patch(@current_path)}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.SubjectLive.FormComponent}
    id={@subject.id || :new}
    action={@live_action}
    subject={@subject}
    patch={@current_path}
  />
</.modal>
