<.header>
  {dgettext("subjects", "Subject")} {@subject.id}
  <:actions>
    <.link patch={~p"/admin/subjects/#{@subject}/show/edit"} phx-click={JS.push_focus()}>
      <.button>{dgettext("subjects", "Edit")}</.button>
    </.link>
    <.link patch={~p"/admin/subjects/#{@subject}/lessons"} phx-click={JS.push_focus()}>
      <.button>{dgettext("subjects", "Lessons")}</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title={dgettext("subjects", "Cover")}>
    <%= if @subject.cover do %>
      <img
        src={Ecampus.Uploaders.SubjectCover.url({@subject.cover, @subject})}
        alt="Preview Image"
        class="w-32 h-32 object-cover"
      />
    <% else %>
      <span>{dgettext("subjects", "No cover available")}</span>
    <% end %>
  </:item>
  <:item title={dgettext("subjects", "Title")}>{@subject.title}</:item>
  <:item title={dgettext("subjects", "Short title")}>{@subject.short_title}</:item>
  <:item title={dgettext("subjects", "Description")}>{@subject.description}</:item>
  <:item title={dgettext("subjects", "Prerequisites")}>{@subject.prerequisites}</:item>
  <:item title={dgettext("subjects", "Objectives")}>{@subject.objectives}</:item>
  <:item title={dgettext("subjects", "Required texts")}>{@subject.required_texts}</:item>
</.list>

<.back navigate={@return_to}>
  {dgettext("subjects", "Back to subjects")}
</.back>

<.modal
  :if={@live_action == :edit}
  id="subject-modal"
  show
  on_cancel={JS.patch(~p"/admin/subjects/#{@subject}")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.SubjectLive.FormComponent}
    id={@subject.id}
    action={@live_action}
    subject={@subject}
    patch={~p"/admin/subjects/#{@subject}"}
  />
</.modal>
