<.header>
  {dgettext("groups", "Listing Groups")}
  <:actions>
    <.link patch={~p"/admin/specialities/#{@speciality_id}/groups/new"}>
      <.button>{dgettext("groups", "New")}</.button>
    </.link>
  </:actions>
</.header>

<.flop_table
  id="groups"
  items={@streams.groups}
  meta={@meta}
  path={~p"/admin/specialities/#{@speciality_id}/groups"}
  row_click={
    fn {_id, group} -> JS.navigate(~p"/admin/specialities/#{@speciality_id}/groups/#{group}") end
  }
>
  <:col :let={{_id, group}} label={dgettext("groups", "Id")} field={:id}>{group.id}</:col>
  <:col :let={{_id, group}} label={dgettext("groups", "Title")} field={:title}>
    {group.title}
  </:col>
  <:col :let={{_id, group}} label={dgettext("groups", "Description")} field={:description}>
    {group.description}
  </:col>
  <:action :let={{_id, group}}>
    <.link patch={~p"/admin/specialities/#{@speciality_id}/groups/#{group}/edit"}>
      {dgettext("groups", "Edit")}
    </.link>
  </:action>
</.flop_table>

<.flop_pagination meta={@meta} path={~p"/admin/specialities/#{@speciality_id}/groups"} />

<.modal
  :if={@live_action in [:new, :edit]}
  id="group-modal"
  show
  on_cancel={JS.patch(@current_path)}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.GroupLive.FormComponent}
    id={@group.id || :new}
    action={@live_action}
    group={@group}
    patch={@current_path}
    speciality_id={@speciality_id}
  />
</.modal>
