<.header>
  {dgettext("groups", "Group")} {@group.id}
  <:actions>
    <.link
      patch={~p"/admin/specialities/#{@speciality_id}/groups/#{@group}/show/edit"}
      phx-click={JS.push_focus()}
    >
      <.button>{dgettext("groups", "Edit")}</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title">{@group.title}</:item>
  <:item title="Description">{@group.description}</:item>
</.list>

<.back navigate={~p"/admin/specialities/#{@speciality_id}/groups"}>
  {dgettext("groups", "Back to groups")}
</.back>

<.modal
  :if={@live_action == :edit}
  id="group-modal"
  show
  on_cancel={JS.patch(~p"/admin/specialities/#{@speciality_id}/groups/#{@group}")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.GroupLive.FormComponent}
    id={@group.id}
    action={@live_action}
    group={@group}
    speciality_id={@speciality_id}
    patch={~p"/admin/specialities/#{@speciality_id}/groups/#{@group}"}
  />
</.modal>
