<.header>
  {dgettext("lessons", "Listing Lessons")}
  <:actions>
    <.link patch={~p"/admin/subjects/#{@subject_id}/lessons/new"}>
      <.button>{dgettext("lessons", "New")}</.button>
    </.link>
  </:actions>
</.header>

<.flop_table
  id="lessons"
  items={@streams.lessons}
  meta={@meta}
  path={~p"/admin/subjects/#{@subject_id}/lessons"}
  row_click={
    fn {_id, lesson} ->
      JS.navigate(~p"/admin/subjects/#{@subject_id}/lessons/#{lesson}?return_to=#{@current_path}")
    end
  }
>
  <:col :let={{_id, lesson}} label={dgettext("lessons", "Id")} field={:id}>{lesson.id}</:col>
  <:col :let={{_id, lesson}} label={dgettext("lessons", "Title")} field={:title}>
    {lesson.title}
  </:col>
  <:col :let={{_id, lesson}} label={dgettext("lessons", "Topic")} field={:topic}>
    {lesson.topic}
  </:col>
  <:col :let={{_id, lesson}} label={dgettext("lessons", "Is draft")} field={:is_draft}>
    {lesson.is_draft}
  </:col>
  <:col :let={{_id, lesson}} label={dgettext("lessons", "Hours count")} field={:hours_count}>
    {lesson.hours_count}
  </:col>
  <:action :let={{_id, lesson}}>
    <.link patch={~p"/admin/subjects/#{@subject_id}/lessons/#{lesson}/edit"}>
      {dgettext("lessons", "Edit")}
    </.link>
  </:action>
</.flop_table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="lesson-modal"
  show
  on_cancel={JS.patch(@current_path)}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.LessonLive.FormComponent}
    id={@lesson.id || :new}
    action={@live_action}
    lesson={@lesson}
    subject_id={@subject_id}
    patch={@current_path}
  />
</.modal>
