<.header>
  {dgettext("lessons", "Lesson")} {@lesson.id}
  <:actions>
    <.link
      patch={~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson}/show/edit"}
      phx-click={JS.push_focus()}
    >
      <.button>{dgettext("lessons", "Edit")}</.button>
    </.link>
    <.link
      patch={~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson}/topics"}
      phx-click={JS.push_focus()}
    >
      <.button>{dgettext("lessons", "Lesson Topics")}</.button>
    </.link>
    <.link
      patch={~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson}/quizzes"}
      phx-click={JS.push_focus()}
    >
      <.button>{dgettext("lessons", "Quizzes")}</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title={dgettext("lessons", "Title")}>{@lesson.title}</:item>
  <:item title={dgettext("lessons", "Topic")}>{@lesson.topic}</:item>
  <:item title={dgettext("lessons", "Objectives")}>{@lesson.objectives}</:item>
  <:item title={dgettext("lessons", "Is draft")}>{@lesson.is_draft}</:item>
  <:item title={dgettext("lessons", "Hours count")}>{@lesson.hours_count}</:item>
  <:item title={dgettext("lessons", "Sort order")}>{@lesson.sort_order}</:item>
</.list>

<.back navigate={@return_to}>
  {dgettext("lessons", "Back to lessons")}
</.back>

<.modal
  :if={@live_action == :edit}
  id="lesson-modal"
  show
  on_cancel={JS.patch(~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson}")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.LessonLive.FormComponent}
    id={@lesson.id}
    action={@live_action}
    lesson={@lesson}
    subject_id={@subject_id}
    patch={~p"/admin/subjects/#{@subject_id}/lessons/#{@lesson}"}
  />
</.modal>
