<.header>
  Group {@group.id}
  <:subtitle>This is a group record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/admin/groups/#{@group}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit group</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title">{@group.title}</:item>
  <:item title="Description">{@group.description}</:item>
  <:item title="Speciality">
    {(@group.speciality && @group.speciality.title) || "No Speciality"}
  </:item>
</.list>

<.back navigate={~p"/admin/groups"}>Back to groups</.back>

<.modal
  :if={@live_action == :edit}
  id="group-modal"
  show
  on_cancel={JS.patch(~p"/admin/groups/#{@group}")}
>
  <:title>{@page_title}</:title>
  <.live_component
    module={EcampusWeb.GroupLive.FormComponent}
    id={@group.id}
    action={@live_action}
    group={@group}
    specialities={@specialities}
    patch={~p"/admin/groups/#{@group}"}
  />
</.modal>
